<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery-2.2.0.js"></script>
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script type="text/javascript" src="/js/client-chat-rooms.js">
</script>

</head>
<body class="container">

	<div class="page-header">chat - using NodeJS</div>

	<div class="panel panel-default">

		<div class="panel-heading">
			<img alt="" src="{{user.profilePic}}"> | {{user.fullName}} | 
			<a href="/logout">logout</a>
		</div>
		<div class="panel-body">
			<input class="input-sm new-room">
			<button id="create" class="btn btn-success">create new-chat-room</button>
			<hr />
			<ul class="nav nav-pills nav-stacked list-group room-list">
				
			</ul>
		</div>

	</div>


</body>
</html>